<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <div class="row justify-content-lg-center">
            <div id="welcome">QuizApp</div>
        </div>
    </div>
    <div class="col-lg-2">
        <button class="log-out-btn">Log Out</button>
    </div>
</div>

<div class="row justify-content-lg-center hello-title">
    <h1>Hello, {{mainCtrl.firstName}} {{mainCtrl.lastName}} </h1>
</div>

<div class="row"></div>

<div class="row justify-content-lg-center">
    <div class="col-lg-8">
        <div class="card-group row justify-content-lg-center">
            <div class="card col-lg-4 rounded" ng-click="mainCtrl.redirectToQuiz()">
                <img class="card-img-top" src="src/assets/start.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Start a New Game</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content
                        is a little bit.</p>
                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="card col-lg-4 rounded" ng-click="mainCtrl.redirectToActiveUsers()">
                <img class="card-img-top" src="src/assets/users.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Active users</h5>
                    <p class="card-text">This is a list of all active users which you can invite to start a game.</p>

                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="card col-lg-4 rounded">
                <img class="card-img-top" src="src/assets/questions.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Add a New Question</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>

    </div>

</div>


<div ng-controller="ModalDemoCtrl as modalCtrl" class="modal-demo">
    <button class="btn btn-primary" ng-click="modalCtrl.open('lg')">Open the modal</button>
</div>