<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <div class="row justify-content-lg-center">
            <div id="welcome">QuizApp</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-8 offset-lg-2 quiz-container">
        <div class="row justify-content-lg-center">
            <div id="question-title">{{quizCtrl.question.questionText}}</div>
        </div>

        <div class="row">
            <div class="col-lg-5 offset-lg-1">
                <button class="quiz-btn" ng-class="{'selected-question':quizCtrl.selected===0}" ng-click="quizCtrl.select(0)" id="0">
                {{quizCtrl.question.possibleAnswers[0]}}</button>
            </div>
            <div class="col-lg-5">
                <button class="quiz-btn" ng-class="{'selected-question':quizCtrl.selected===1}" ng-click="quizCtrl.select(1)" id="1">
                {{quizCtrl.question.possibleAnswers[1]}}</button>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-5 offset-lg-1">
                <button class="quiz-btn" ng-class="{'selected-question':quizCtrl.selected===2}" ng-click="quizCtrl.select(2)" id="2">
                {{quizCtrl.question.possibleAnswers[2]}}</button>
            </div>
            <div class="col-lg-5">
                <button class="quiz-btn" ng-class="{'selected-question':quizCtrl.selected===3}" ng-click="quizCtrl.select(3)" id="3">
                {{quizCtrl.question.possibleAnswers[3]}}</button>
            </div>
        </div>

        <div class="row justify-content-lg-center">
            <div class="col-lg-4">
                <button id="send-answer-btn" ng-click="quizCtrl.sendQuestionToCheck()">
                    Send
                </button>
            </div>
        </div>
    </div>
</div>