<div class="header">
    <div id="welcome">
        QuizApp
    </div>
    <button class="log-out-btn">Log Out</button>
</div>

<div class="quiz-container">
    <div class="row">
        <div class="col" id="question-title"> How many oscars did the Titanic movie got?</div>
        <div class="w-100"></div>
        <div class="col div-btn">
            <button class="quiz-btn">9</button>
        </div>
        <div class="col div-btn">
            <button class="quiz-btn">10</button>
        </div>
        <div class="w-100"></div>
        <div class="col div-btn">
            <button class="quiz-btn">11</button>
        </div>
        <div class="col div-btn">
            <button class="quiz-btn">12</button>
        </div>
        <div class="w-100"></div>
        <div class="col">
            <button id="send-answer-btn">
                Send
            </button>
        </div>
    </div>
</div>