<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <div class="row justify-content-lg-center">
            <div id="welcome">QuizApp</div>
        </div>
    </div>
    <div class="col-lg-2">
        <button class="log-out-btn" ng-click="quizCtrl.logOut()">Log Out</button>
    </div>
</div>
<div class="row">
    <div class="col-lg-8 offset-lg-2 quiz-container">
        <div class="row justify-content-lg-center">
            <div id="question-title"> How many oscars did the Titanic movie got?</div>
        </div>

        <div class="row">
            <div class="col-lg-5 offset-lg-1">
                <button class="quiz-btn">9</button>
            </div>
            <div class="col-lg-5 ">
                <button class="quiz-btn">10</button>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-5 offset-lg-1">
                <button class="quiz-btn">11</button>
            </div>
            <div class="col-lg-5">
                <button class="quiz-btn">12</button>
            </div>
        </div>

        <div class="row justify-content-lg-center">
            <div class="col-lg-4">
                <button id="send-answer-btn">
                    Send
                </button>
            </div>
        </div>
    </div>
</div>