<div>
    <div class="header">
        <div id="welcome">Welcome to QuizApp</div>
    </div>
    <div id="main-container">
        <div class="container">
            <label for="name"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" id="name" ng-model="username"/>
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" id="psw" ng-model="password"/>
            <label for="first-name"><b>Fisrt Name</b></label>
            <input type="text" placeholder="Enter First Name" id="first-name" ng-model="firstName"/>
            <label for="last-name"><b>Last Name</b></label>
            <input type="password" placeholder="Enter Last Name" id="last-name" ng-model="lastName"/>
            <label for="age"><b>Age</b></label> <br>
            <input type="number" placeholder="Enter Age" id="age" ng-model="age"/>
            <button>Register</button>
        </div>
    </div>
</div>