<div>
    <div class="header">
        <div id="welcome">Welcome to QuizApp</div>
    </div>
    <div id="main-container">
        <div class="container">
            <label for="name"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" id="name" ng-model="username"/>
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" id="psw" ng-model="password"/>
            <button ng-click="loginCtrl.login()">Login</button>
            <div id="if-new">Or if you are new...</div>
        </div>

        <div class="container" id="reg-container">
            <button type="button" class="reg-btn">Register</button>
        </div>

    </div>
</div>