<div class="row">
        <div class="col-lg-4 offset-lg-4">
           
            <div class="row justify-content-lg-center" style="color: white;">
                    <h1 style="font-size: 27.5em;">404</h1>
                    <blockquote class="blockquote text-center">
                        <p class="mb-0">Ooops, the page that you are looking for doesn't exist.</p>
                        <p class="mb-0">Go to our <em><a href="" id="home" ng-click="notFoundCtrl.redirectToHome()">homepage</em></a>
                             so you can continue having fun. :) </p>
                    </blockquote>
                </div>
            </div>
            </div>